@layout('layouts/main')
@set('title', 'Home')

@section('body')
  <h2 class="text-3xl mb-4">Your daily dose of art on Mastodon</h2>
  <div class="grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    @each(artist in artists)
      @card({ unlimitedWith: true, link: `https://${env('MASTODON_URL')}/${'@' + artist.mastodon.acct}` })
        {{ artist.name }}
      @end
    @end
  </div>
@end
