@layout('layouts/main')
@set('title', 'Artists')

@section('body')
<div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6">
  @each(artist in artists)
  @artistCard({ artist })
  @end
  @end

  @can('ArtistPolicy.create')
    @card({ link: route('artists.create')})
    <div
      class="w-full h-full text-center text-black text-gray-900 align-middle border-4 border-dashed text-7xl dark:text-white rounded-xl">
    </div>
    @end
  @end
</div>
@end